{#{% extends 'crud/base.html' %}#}
{% extends 'base_menu.html' %}

{% block title %}
    Thêm mới
{% endblock %}
{% block body %}
    <form method="POST" action="create">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" required="required"/>
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" required="required"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> Lưu lại
            </button>
            <a class="btn btn-sm btn-outline btn-danger" href="/crud"><span
                    class="glyphicon glyphicon-remove-sign"></span> Hủy bỏ</a>
        </div>
    </form>
{% endblock %}