{% extends 'base_menu.html' %}
{% load staticfiles %}
{#{% if user.is_authenticated %}#}

{% block title %}
    CRUD
{% endblock %}
{% block body %}
    {#        <!-- /.row -->#}
    <div class="row">
        <a class="btn btn-sm btn-primary" href="add"><span
                class="glyphicon glyphicon-plus"></span> Thêm mới</a>
        <br/>
    </div>
    <br/>

    <div class="row">

        <table width="100%" class="table table-sm table-striped table-bordered table-hover" id="dataTables-crud">
            <thead class="bg-primary">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.firstname }}</td>
                    <td>{{ member.lastname }}</td>
                    <td>
                        <center><a class="btn btn-xs btn-warning" href="edit/{{ member.id }}"><span
                                class="glyphicon glyphicon-edit"></span> Sửa</a>
                            <a class="btn btn-xs btn-danger" href="delete/{{ member.id }}"><span
                                class="glyphicon glyphicon-trash"></span> Xóa</a></center>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Không có dữ liệu</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    {#    <script src="{% static '../../static/css/jquery/jquery.min.js' %}"></script>#}
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-crud').DataTable({
                //responsive: true,
                scrollX: true,
                bFilter: false,
                {#bInfo: false,#}
                ordering: false,
                pagingType: "full_numbers",
                language: {
                    "lengthMenu": "Hiển thị _MENU_ bản ghi",
                    "info": "Trang _PAGE_/_PAGES_",
                    "paginate": {
                        "previous": "Tr.trước",
                        "next": "Tr.sau",
                        "last": "Tr.cuối",
                        "first": "Tr.đầu"
                    }

                },
                dom: 'lBfrtip',
                buttons: [
                    'copyHtml5', 'excelHtml5', 'pdfHtml5', 'csvHtml5'
                ]
            })
            ;
        });
    </script>
{% endblock %}





