{#{% extends 'crud/base.html' %}#}
{% extends 'base_menu.html' %}
{% block title %}
    Cập nhật
{% endblock %}
{% block body %}
    <form method="POST" action="update/{{ organization.id }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname">Tên phòng ban</label>
            <input type="text" name="name" value="{{ organization.name }}" required="required"/>
        </div>
        <div class="form-group">
            <label for="lastname">Mô tả</label>
            <input type="text" name="description" value="{{ organization.description }}" required="required"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Update
            </button>
            <a class="btn btn-sm btn-default" href="/organization"><span
                    class="glyphicon glyphicon-remove-sign"></span> Hủy bỏ</a>
        </div>

    </form>
{% endblock %}